/* You can add global styles to this file, and also import other style files */

$blue-grad-color: linear-gradient(to right, #0d47a1 , #2196f3);

body {
    padding-top: 50px;
}

.main-content {
    padding: 40px 15px;
    text-align: center;
}

.btn {
    text-transform: capitalize;
}

.blue-grad-color {
    background: $blue-grad-color;
}