<div><button (click)="cartModal.show()" type="button" class="btn btn-warning btn-round cart-btn waves-light" mdbWavesEffect><i class="fa fa-shopping-cart mt-1 mr-1 mb-1 ml-1"></i></button><span class="yellow-accent-color">{{ totalItemsInCart }}</span></div>

<!--Modal-->
<div mdbModal #cartModal="mdb-modal" class="modal fade" id="cart-modal-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header blue-grad-color white-text">
                <h4 class="title"><i class="fa fa-shopping-cart"></i> {{ modalTitle | titlecase }}</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="cartModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
             
              <div class="row">
                <div class="col">
                  {{ labelText1 | titlecase }}
                </div>
                <div class="col">
                  {{ totalItemsInCart }}
                </div>
              </div>

              <button id="empty-cart-btn" (click)="emptyCart()" class="btn btn-primary blue-grad-color">Empty Cart</button>

              <hr>
              <h5>{{ labelText2 | titlecase}} </h5>
              
              <div class="row">
                <div class="col">
                  {{ labelText3 }}
                </div>
                <div class="col">
                  {{ subTotal[0] | currency }}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {{ labelText4 | titlecase }}
                </div>
                <div class="col">
                  {{ subTotal[1] | currency }}
                </div>
              </div>
              
              <div class="text-center mt-2">
                  <button routerLink="/viewcart" (click)="cartModal.hide()" class="btn btn-warning yellow-grad-color mb-2 waves-light" mdbWavesEffect>{{ modalBtnText | titlecase }}</button>
              </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal-->
                