<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue fixed-top">
           
    <!-- Navbar brand -->
    <logo><a routerLink="/home" class="navbar-brand" href="#">Jerry's Quik Mart</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let menuItem of menuItems" class="nav-item" routerLinkActive="active">
                <a routerLink="{{ menuItem.link }}" class="nav-link waves-light" mdbWavesEffect>{{ menuItem.caption }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
              </div>
          </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
